#downloadButton{
    width:2.5em;
    float: right;
    border: none;
    background-color: inherit;
    padding: .4em .4em;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    #downloadButton path{
        fill:white;
    }
}
