#buttons{
    float: right;
}

#buttons button{
    width:3em;
    border: none;
    background-color: inherit;
    padding: .4em .8em;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    #buttons path{
        fill:white;
    }
}
